html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

button {
  width: fit-content;
  background-color: whitesmoke;
  border: 5px black solid;
  height: 40px;
  border-radius: 40px;
}

.gridContainer {
  border: 10px black solid;
  width: min-content;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px grey solid;
  background-color: whitesmoke;
}

.row {
  display: flex;
}
