body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

button {
  width: fit-content;
  background-color: aqua;
}

.gridContainer {
  border: 10px red solid;
  width: min-content;
}

.pixel {
  width: 30px;
  height: 30px;
  border: 2px blue solid;
  background-color: aqua;
}

.row {
  display: flex;
}
